Repository muzimuzhi/latex-zutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-expl3, lint-python

lint-expl3:
  alias: explcheck
  name: Lint expl3 files
  language: system
  entry: explcheck

lint-python:
  alias: ruff
  name: Lint python files
  language: system
  entry: uvx ruff check l3build-wrapper
  pass_filenames: false

ci!: set `bash` as default shell for fast-fail on Win
  .github/workflows/check.yml
  .github/workflows/lint.yml
Due: none

ci: fix passing of an input
  .github/workflows/schedule.yml
Due: none

chore(zutil)!: adapt for `explcheck` v0.15.0 (2025-10-22)
  zutil/zutil-regression-test.tex
  zutil/zutil.sty
Due: lint-expl3

chore(pre-commit): skip passing filenames to system hooks
  .pre-commit-config.yaml
Due: none

ci: exclude `tabularray` tests from regular checks
  .github/workflows/check.yml
  .github/workflows/schedule.yml
  .justfile
  README.md
Due: none

chore(just): message wording [ci skip]
  .justfile
Due: none

chore: add dot files and dir to whitelist for `rg`
  .ignore
  .typos.toml
Due: none

chore(just): run `uvx` in isolated mode
  .justfile
Due: none

test(tblr): track LaTeX2e 2025-11-01 changes
  tabularray/testfiles-old/long-001.tlg
  tabularray/testfiles-old/long-003.tlg
  tabularray/testfiles-old/long-007.tlg
Due: none

test(tblr): track LaTeX2e 2025-11-01 changes (#52)
  tabularray/testfiles-old/long-001.tlg
  tabularray/testfiles-old/long-003.tlg
  tabularray/testfiles-old/long-007.tlg
Due: none

chore(wrapper): typo
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

chore(pre-commit): track language renaming
  .pre-commit-config.yaml
Due: none

feat(zutil): add `\zutil_msg_new_space_safe:nnnn` and relatives
  zutil/README.md
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

feat(zutil): add `\zutil_msg_new_space_safe:nnnn` and relatives (#54)
  zutil/README.md
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

feat(zutil): add `\zutil_msg_space_safe_on:` and `\..._off:`
  zutil/README.md
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

feat(zutil): add `\zutil_msg_space_safe_on:` and `\..._off:` (#55)
  zutil/README.md
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

docs(zutil): split into sections; minor rewording
  zutil/README.md
Due: none

fix(zutil): `gset_eq` -> `new_eq`
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

feat(zutil): patch `\msg_new:nnnn` on-the-fly
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

docs(zutil): cleanup
  zutil/README.md
Due: none

feat(zutil): new module `l3patch` for l3kernel extras with patch
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/testfiles/zutil-l3patch.lvt
  zutil/testfiles/zutil-l3patch.tlg
  zutil/zutil-l3extras.code.tex
  zutil/zutil-l3patch.code.tex
  zutil/zutil.sty
Due: lint-expl3

move aux to l3patch, with refactor
  zutil/zutil-l3extras.code.tex
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

move `\zutil_msg_suspend_debug:` to l3patch
  zutil/README.md
  zutil/zutil-l3extras.code.tex
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

update doc
  zutil/README.md
Due: none

minor
  zutil/testfiles/zutil-l3patch.lvt
Due: none

update regression config
  support/zutil-regression-test.cfg
Due: lint-expl3

feat(zutil): new module `l3patch` for l3kernel extras with patch (#56)
  support/zutil-regression-test.cfg
  zutil/README.md
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/testfiles/zutil-l3patch.lvt
  zutil/testfiles/zutil-l3patch.tlg
  zutil/zutil-l3extras.code.tex
  zutil/zutil-l3patch.code.tex
  zutil/zutil.sty
Due: lint-expl3

refactor(zutil): store `presets` package option value in `str`
  zutil/zutil.sty
Due: lint-expl3

refactor(zutil): backup `\__msg_use:nnnnnnn` on the fly
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

test(zutil): test usage of `\zutil_msg_suspend_debug:`
  zutil/testfiles/zutil-l3patch.lvt
  zutil/testfiles/zutil-l3patch.tlg
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

fix(zutil): leave out `\msg_new:nnn` and `\msg_set:nnn`
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

fix(zutil): leave out `\msg_new:nnn` and `\msg_set:nnn` (#57)
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

refactor(rgtest): use `zutil` prefix
  support/zutil-regression-test.cfg
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-rgtest.tlg
  zutil/zutil-regression-test.tex
Due: lint-expl3

feat(rgtest): refine PASSED message header
  zutil/testfiles/zutil-rgtest.tlg
  zutil/zutil-regression-test.tex
Due: lint-expl3

update comments
  zutil/zutil-regression-test.tex
Due: lint-expl3

more prefix update
  support/zutil-regression-test.cfg
  zutil/zutil-regression-test.tex
Due: lint-expl3

more public names
  zutil/zutil-regression-test.tex
Due: lint-expl3

refactor(rgtest): use `zutil` prefix (#58)
  support/zutil-regression-test.cfg
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-rgtest.tlg
  zutil/zutil-regression-test.tex
Due: lint-expl3

feat(zutil): make `\zutil_msg_space_safe_on:` nestable
  zutil/README.md
  zutil/testfiles/zutil-l3patch.lvt
  zutil/testfiles/zutil-l3patch.tlg
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

split test
  zutil/testfiles/zutil-l3patch.lvt
  zutil/testfiles/zutil-l3patch.tlg
Due: none

Path conditions:
  lint-expl3: any of: ^support/.*\.cfg|zutil/.*\.(sty|tex)$, but not: (?x)^(
  .*\.(md5|tlg)|
  tabularray/trial/.*
)$

  lint-python: any of: ^l3build-wrapper/, but not: (?x)^(
  .*\.(md5|tlg)|
  tabularray/trial/.*
)$

