Repository muzimuzhi/latex-zutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-expl3, lint-python

lint-expl3:
  alias: explcheck
  name: Lint expl3 files
  language: unsupported
  entry: just explcheck
  pass_filenames: false

lint-python:
  alias: ruff
  name: Lint python files
  language: unsupported
  entry: just ruff check
  pass_filenames: false

feat(zutil): make `\zutil_msg_suspend_debug:` nestable
  zutil/README.md
  zutil/testfiles/zutil-l3patch.lvt
  zutil/testfiles/zutil-l3patch.tlg
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

more comment [ci skip]
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

feat(zutil): allow nested on/off func. pairs (#59)
  zutil/README.md
  zutil/testfiles/zutil-l3patch.lvt
  zutil/testfiles/zutil-l3patch.tlg
  zutil/zutil-l3patch.code.tex
Due: lint-expl3

test(rgtest): ignore copyright in computing md5sum
  zutil/testfiles/zutil-mdfive.lvt
  zutil/testfiles/zutil-mdfive.tlg
Due: none

test(rgtest): ignore copyright in computing md5sum (#60)
  zutil/testfiles/zutil-mdfive.lvt
  zutil/testfiles/zutil-mdfive.tlg
Due: none

feat(wrapper): new option alias `--recheck` for `--re-check`
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

chore(wrapper): tighten ignored `ruff` lint rules
  l3build-wrapper/pyproject.toml
Due: lint-python

chore(wrapper): print a re-checking title/separator
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

refactor(wrapper): add a `print()` wrapper
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

refactor(wrapper): reorder logger const and initialization
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

chore(rgtest): trim spaces from file description
  zutil/zutil-regression-test.tex
Due: lint-expl3

test: add a `\ProvidesExplFile` to rgtest config
  support/zutil-regression-test.cfg
Due: lint-expl3

ci: update formatting for an action input
  .github/workflows/check.yml
  .github/workflows/lint.yml
Due: none

chore: track l3build rgtest updates
  zutil/testfiles/zutil-mdfive.lvt
  zutil/zutil-regression-test.tex
Due: lint-expl3

chore: track l3build rgtest updates (#63)
  zutil/testfiles/zutil-mdfive.lvt
  zutil/zutil-regression-test.tex
Due: lint-expl3

chore(pre-commit): re-add `actionlint` with YAML anchor support
  .pre-commit-config.yaml
Due: none

chore(pre-commit): bump `actionlint` to v1.7.10
  .pre-commit-config.yaml
Due: none

chore(pre-commit): re-add `actionlint` with YAML anchor support (#64)
  .pre-commit-config.yaml
Due: none

chore(pre-commit): update a doc link
  .pre-commit-config.yaml
Due: none

chore(pre-commit): set min `pre-commit` version
  .pre-commit-config.yaml
Due: none

ci(explcheck): force flow analysis and verbose output
  .explcheckrc
  .justfile
Due: none

ci(just): run shebang recipes in Bash, for array support
  .justfile
Due: none

refactor(wrapper): cache `l3build_patched()` result; add log
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

deprecate(wrapper): drop `--re-check` and keep `--recheck`
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

chore: drop `all-all` just recipe; reword checks doc in README
  .justfile
  README.md
Due: none

chore(just): add `explcheck-slow` recipe; run it in CI
  .explcheckrc
  .github/workflows/lint.yml
  .justfile
  README.md
  scripts/explcheck-toggle-configs.lua
Due: none

chore(just): add `explcheck-slow` recipe; run it in CI (#65)
  .explcheckrc
  .github/workflows/lint.yml
  .justfile
  README.md
  scripts/explcheck-toggle-configs.lua
Due: none

ci(lint): enable verbose output for `explcheck-slow`
  .github/workflows/lint.yml
Due: none

docs: update checks doc
  README.md
Due: none

chore: update .explcheckrc comment [ci skip]
  .explcheckrc
Due: none

chore: rename a test, zutil-mdfive -> zutil-rgtest-mdfive
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/testfiles/zutil-rgtest-mdfive.tlg
Due: none

refactor(wrapper): check unknown l3build target using `argparse`
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

feat(wrapper): revise logging if dry-run
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

style(wrapper): make `ruff format` happy
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

style(wrapper): wrap long lines
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

revert(wrapper): "feat(wrapper): revise logging if dry-run"
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

refactor(wrapper): rework handling of global states
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

Path conditions:
  lint-expl3: any of: ^support/.*\.cfg|zutil/.*\.(sty|tex)$, but not: (?x)^(
  .*\.(md5|tlg)|
  tabularray/trial/.*
)$

  lint-python: any of: ^l3build-wrapper/, but not: (?x)^(
  .*\.(md5|tlg)|
  tabularray/trial/.*
)$

