Repository muzimuzhi/latex-zutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-expl3, lint-python

lint-expl3:
  alias: explcheck
  name: Lint expl3 files
  language: system
  entry: explcheck

lint-python:
  alias: ruff
  name: Lint python files
  language: system
  entry: uvx ruff check

chore: config pre-commit.ci commit message
  .pre-commit-config.yaml
Due: none

chore(wrapper): converted to `uv` package structure
  .github/workflows/check.yml
  .justfile
  l3build-wrapper/.python-version
  l3build-wrapper/README.md
  l3build-wrapper/pyproject.toml
  l3build-wrapper/src/l3build_wrapper/__init__.py
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
  l3build-wrapper/uv.lock
  ruff.toml
Due: lint-python

revert enabled uv caching
  .github/workflows/check.yml
Due: none

move ruff config into `pyproject.toml`
  .justfile
  .pre-commit-config.yaml
  l3build-wrapper/pyproject.toml
  ruff.toml
Due: none

drop `tool.ruff.target-version` setting; use `project.requires-python`
  l3build-wrapper/pyproject.toml
Due: none

drop unneeded `tool.uv.build-backend.module-root` setting
  l3build-wrapper/pyproject.toml
Due: none

simplify just messages
  .justfile
Due: none

no need for editable installation on CI
  .github/workflows/check.yml
Due: none

fix(wrapper): fix passing of custom parse arguments
  l3build-wrapper/l3build_wrapper.py
Due: lint-python

revert a reordered ci step
  .github/workflows/check.yml
Due: none

refactor(wrap): handle exceptions in `main()`
  l3build-wrapper/l3build_wrapper.py
Due: lint-python

reword a pre-commit comment
  .pre-commit-config.yaml
Due: none

fix(wrapper): require python 3.12
  l3build-wrapper/l3build_wrapper.py
  ruff.toml
Due: lint-python

update a comment
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

drop empty readme
  l3build-wrapper/README.md
  l3build-wrapper/pyproject.toml
Due: none

add just recipe to (re)install wrapper
  .justfile
Due: none

add link to pyproject.toml spec
  l3build-wrapper/pyproject.toml
Due: none

feat(wrapper): converted to `uv` package (#44)
  .github/workflows/check.yml
  .justfile
  .pre-commit-config.yaml
  l3build-wrapper/.python-version
  l3build-wrapper/pyproject.toml
  l3build-wrapper/src/l3build_wrapper/__init__.py
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
  l3build-wrapper/uv.lock
Due: lint-python

refactor(zutil): avoid assignments
  zutil/zutil-debug.code.tex
Due: lint-expl3

chore(zutil): adapt for `explcheck` v0.12.0 (2025-08-18)
  zutil/zutil.sty
Due: lint-expl3

fix(zutil): add missing dependency for `debug` module
  zutil/zutil-debug.code.tex
Due: lint-expl3

test(zutil): load all modules explicitly in tests
  support/TEMPLATE-zutil-test.lvt
  tabularray/testfiles/tblr-zutil-debug.lvt
  zutil/testfiles/zutil-001.lvt
  zutil/testfiles/zutil-001.tlg
  zutil/testfiles/zutil-debug.lvt
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-mdfive.lvt
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-softerror.lvt
Due: none

fix(zutil): add missing dependency for `debug` module (#46)
  support/TEMPLATE-zutil-test.lvt
  tabularray/testfiles/tblr-zutil-debug.lvt
  zutil/testfiles/zutil-001.lvt
  zutil/testfiles/zutil-001.tlg
  zutil/testfiles/zutil-debug.lvt
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-mdfive.lvt
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-softerror.lvt
  zutil/zutil-debug.code.tex
Due: lint-expl3

feat(zutil): new module `unravel`
  zutil/README.md
  zutil/testfiles/zutil-unravel.lvt
  zutil/testfiles/zutil-unravel.tlg
  zutil/zutil-unravel.code.tex
  zutil/zutil.sty
Due: lint-expl3

ci: install `unravel`
  .github/tl_packages
Due: none

install `gtl`
  .github/tl_packages
Due: none

feat(zutil): new module `unravel` (#47)
  .github/tl_packages
  zutil/README.md
  zutil/testfiles/zutil-unravel.lvt
  zutil/testfiles/zutil-unravel.tlg
  zutil/zutil-unravel.code.tex
  zutil/zutil.sty
Due: lint-expl3

docs(zutil): update `presets` value list
  zutil/README.md
Due: none

docs(zutil): minor
  zutil/README.md
Due: none

chore(typos): register `.explcheckrc` as toml file type
  _typos.toml
Due: none

chore(just): add alias `expl` for `explcheck` [ci skip]
  .justfile
Due: none

feat(zutil): add `\zutil_exp_args_safe:Nc`
  zutil/README.md
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

chore(explcheck): updates for explcheck v0.13.0 (2025-09-29)
  zutil/zutil-l3extras.code.tex
  zutil/zutil-softerror.code.tex
  zutil/zutil.sty
Due: lint-expl3

chore: correct a typo
  tabularray/testfiles-old/table-004.tex
Due: none

fixup! chore: correct a typo
  tabularray/testfiles-old/table-004.tlg
Due: none

ci(security): add permissions
  .github/workflows/lint.yml
  .github/workflows/schedule.yml
Due: none

ci: new and unified input `install-texlive-cleanly`
  .github/workflows/check.yml
  .github/workflows/schedule.yml
Due: none

Path conditions:
  lint-expl3: any of: ^support/.*\.cfg|zutil/.*\.(sty|tex)$, but not: (?x)^(
  .*\.(md5|tlg)|
  tabularray/trial/.*
)$

  lint-python: any of: ^l3build-wrapper/.*\.py$, but not: (?x)^(
  .*\.(md5|tlg)|
  tabularray/trial/.*
)$

