Repository muzimuzhi/latex-zutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-expl3, lint-python

.pre-commit-config.yaml:

# https://pre-commit.com/

# https://pre-commit.ci/#configuration
ci:
  autofix_commit_msg: |
      chore(deps) auto fixes from pre-commit.com hooks

      for more information, see https://pre-commit.ci
  autoupdate_commit_msg: 'chore(deps): pre-commit autoupdate'
  skip: [check-spelling, lint-expl3, lint-python]

# path separator is normalized to "/", so no need to use "[\\/]" in python
# regex, see
# https://github.com/pre-commit/pre-commit/commit/1509dc497e77d742278ae9f6ed19481a24c972f2
exclude: |
  (?x)^(
    .*\.(md5|tlg)|
    tabularray/trial/.*
  )$

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  # run "pre-commit autoupdate --freeze" to update the version
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-illegal-windows-names
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: local
  hooks:
  # typos bumps version frequently, so use system installation instead of the
  # official pre-commit hook
  # https://github.com/crate-ci/typos/blob/master/docs/pre-commit.md
  # https://github.com/crate-ci/typos/blob/master/.pre-commit-hooks.yaml
  - id: check-spelling
    alias: typos
    name: Check spelling
    language: unsupported
    # same as the official `typos` hook args
    # https://github.com/crate-ci/typos/blob/ebc6aac34e3692b3ce373e13f4145e8980875396/.pre-commit-hooks.yaml
    entry: just typos
    pass_filenames: false
  - id: lint-expl3
    alias: explcheck
    name: Lint expl3 files
    language: unsupported
    entry: just explcheck
    # this file list is composed in .justfile too
    files: ^support/.*\.cfg|zutil/.*\.(sty|tex)$
    pass_filenames: false
  # there exists an official ruff pre-commit
  # https://github.com/astral-sh/ruff-pre-commit
  - id: lint-python
    alias: ruff
    name: Lint python files
    language: unsupported
    # `cd <dir> && <command>` never failed here, so use a command different
    # from that in just recipe `ruff`
    entry: just ruff check
    files: ^l3build-wrapper/
    # types_or: [python, pyi, jupyter]
    pass_filenames: false
# https://pre-commit.com/#meta-hooks
# "pre-commit run --hook-stage manual"
- repo: meta
  hooks:
  - id: check-hooks-apply
    stages: [manual]
  - id: check-useless-excludes
    stages: [manual]
  # "pre-commit run identity --hook-stage manual -a" prints all files not
  # excluded
  - id: identity
    stages: [manual]

more monorepo/centric py settings
  .python-version
  explcheck-wrapper/pyproject.toml
  l3build-wrapper/.python-version
  l3build-wrapper/pyproject.toml
Due: lint-python

drop just recipe `install-wrapper`
  justfile
Due: none

flush output buffer before calling `explcheck`
  explcheck-wrapper/src/explcheck_wrapper/explcheck_wrapper.py
Due: none

add back `--verbose` in slow explcheck run
  .github/workflows/lint.yml
Due: none

add symmetric output flushing
  explcheck-wrapper/src/explcheck_wrapper/explcheck_wrapper.py
Due: none

restore per-project `build-system` settings
  explcheck-wrapper/pyproject.toml
  l3build-wrapper/pyproject.toml
  pyproject.toml
Due: lint-python

use centric `uv.lock`
  l3build-wrapper/uv.lock
  uv.lock
Due: lint-python

remove unnecessary top-level deps
  pyproject.toml
  uv.lock
Due: none

fix usage, add epilog
  explcheck-wrapper/src/explcheck_wrapper/explcheck_wrapper.py
Due: none

fix(zutil): define unexpandable functions as protected
  zutil/README.md
  zutil/zutil-debug.code.tex
  zutil/zutil-l3extras.code.tex
  zutil/zutil-regression-test.tex
Due: lint-expl3

test(zutil): test expandable func. using `\TESTEXP`
  zutil/testfiles/zutil-l3extras.lvt
Due: none

chore(just): practice user-defined functions
  justfile
Due: none

chore(explcheck): replace Bash script with `--inline-config`
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  config/explcheck.toml
  mise.ci.toml
  mise.toml
  scripts/lint-expl3.sh
Due: none

chore(mise): add task `lint-slow:expl3` for local use
  .github/workflows/lint.yml
  mise.toml
Due: none

chore(pre-commit): check TOML 1.1.0
  .pre-commit-config.yaml
  mise.ci.toml
  mise.toml
Due: none

fix(zutil): track renaming of expandable msg internal
  zutil/zutil-regression-test.tex
Due: lint-expl3

chore(pre-commit): update comment [ci skip]
  .pre-commit-config.yaml
Due: none

Revert "chore(mise): add task `lint-slow:expl3` for local use"
  .github/workflows/lint.yml
  mise.toml
Due: none

feat(zutil): add `\c_zutil_novalue_tl`
  zutil/README.md
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

test(zutil): track redefined `\c_novalue_tl` in LaTeX 2026-06-01
  zutil/testfiles/zutil-debug.lvt
  zutil/testfiles/zutil-debug.tlg
Due: none

chore(deps): update astral-sh/setup-uv action to 8.2.0
  .github/workflows/check.yml
Due: none

test(tblr): update a testfile
  tabularray/testfiles-old/table-003.tlg
Due: none

chore: retire dependabot and use renovate only
  .github/dependabot.yml
Due: none

chore(zutil): adapt for explcheck 2026-06-25
  zutil/zutil-regression-test.tex
Due: lint-expl3

feat(zutil): support nestable `\OMIT ... \TIMO` blocks
  zutil/README.md
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-rgtest.tlg
  zutil/zutil-regression-test.tex
Due: lint-expl3

fix(zutil): restore catcode at the end of rgtest
  zutil/zutil-regression-test.tex
Due: lint-expl3

refactor(zutil): refine `\TIMO`
  zutil/zutil-regression-test.tex
Due: lint-expl3

chore: track l3build 2026-07-10 changes
  zutil/testfiles/zutil-rgtest-mdfive.lvt
Due: none

test(zutil): show l3build release in error msg
  zutil/build.lua
  zutil/testfiles/zutil-rgtest-mdfive.lvt
Due: none

feat(zutil): add `\FAILWITH{⟨content⟩}`
  zutil/README.md
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/zutil-regression-test.tex
Due: lint-expl3

chore(mise): set minimum version, prefer double quotes
  mise.toml
Due: none

ci(lint): set `MISE_ENV` at job level
  .github/workflows/lint.yml
  mise.ci.toml
Due: none

chore(mise): apply env defaults
  mise.toml
Due: none

ci(lint): clarify `MISE_ENV` usage
  .github/workflows/lint.yml
Due: none

docs(zutil): update `\beginunravel` doc
  zutil/README.md
  zutil/zutil-unravel.code.tex
Due: lint-expl3

fix(zutil): add missing arg of `\FAILWITH`
  zutil/zutil-regression-test.tex
Due: lint-expl3
