Repository muzimuzhi/latex-zutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-expl3, lint-python

.pre-commit-config.yaml:

# https://pre-commit.com/

# https://pre-commit.ci/#configuration
ci:
  autofix_commit_msg: |
      chore(deps) auto fixes from pre-commit.com hooks

      for more information, see https://pre-commit.ci
  autoupdate_commit_msg: 'chore(deps): pre-commit autoupdate'
  skip: [check-spelling, lint-expl3, lint-python]

# path separator is normalized to "/", so no need to use "[\\/]" in python
# regex, see
# https://github.com/pre-commit/pre-commit/commit/1509dc497e77d742278ae9f6ed19481a24c972f2
exclude: |
  (?x)^(
    .*\.(md5|tlg)|
    tabularray/trial/.*
  )$

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  # run "pre-commit autoupdate --freeze" to update the version
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-illegal-windows-names
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: local
  hooks:
  # typos bumps version frequently, so use system installation instead of the
  # official pre-commit hook
  # https://github.com/crate-ci/typos/blob/master/docs/pre-commit.md
  # https://github.com/crate-ci/typos/blob/master/.pre-commit-hooks.yaml
  - id: check-spelling
    alias: typos
    name: Check spelling
    language: unsupported
    # same as the official `typos` hook args
    # https://github.com/crate-ci/typos/blob/ebc6aac34e3692b3ce373e13f4145e8980875396/.pre-commit-hooks.yaml
    entry: just typos
    pass_filenames: false
  - id: lint-expl3
    alias: explcheck
    name: Lint expl3 files
    language: unsupported
    entry: just explcheck
    # this file list is composed in .justfile too
    files: ^support/.*\.cfg|zutil/.*\.(sty|tex)$
    pass_filenames: false
  # there exists an official ruff pre-commit
  # https://github.com/astral-sh/ruff-pre-commit
  - id: lint-python
    alias: ruff
    name: Lint python files
    language: unsupported
    # `cd <dir> && <command>` never failed here, so use a command different
    # from that in just recipe `ruff`
    entry: just ruff check
    files: ^l3build-wrapper/
    # types_or: [python, pyi, jupyter]
    pass_filenames: false
# https://pre-commit.com/#meta-hooks
# "pre-commit run --hook-stage manual"
- repo: meta
  hooks:
  - id: check-hooks-apply
    stages: [manual]
  - id: check-useless-excludes
    stages: [manual]
  # "pre-commit run identity --hook-stage manual -a" prints all files not
  # excluded
  - id: identity
    stages: [manual]

chore(mise): make `lint-expl3.sh` more standalone
  mise.toml
  scripts/lint-expl3.sh
Due: none

no patching if config not found
  scripts/lint-expl3.sh
Due: none

simplify by using bash function
  scripts/lint-expl3.sh
Due: none

update comment, again
  config/explcheck.toml
Due: none

add `usage` tool
  mise.ci.toml
Due: none

explain why add `usage` tool [ci skip]
  mise.ci.toml
Due: none

chore(mise): make `lint-expl3.sh` standalone (#73)
  config/explcheck.toml
  mise.ci.toml
  mise.toml
  scripts/lint-expl3.sh
Due: none

chore(ruff): handle deprecated `extend-ignore` config
  l3build-wrapper/pyproject.toml
Due: lint-python

chore(mise): track task setting renaming
  mise.toml
Due: none

chore(mise): hide task prefixes for full-line stdout
  mise.toml
Due: none

ci: use `muzimuzhi/setup-texlive-action@texlive-2026`
  .github/workflows/check.yml
  .github/workflows/lint.yml
Due: none

ci: use `muzimuzhi/setup-texlive-action@texlive-2026` (#75)
  .github/workflows/check.yml
  .github/workflows/lint.yml
Due: none

chore(mise): hide task prefixes with `interactive` property
  mise.toml
Due: none

chore(explcheck): apply cli arg syntax `--long-option VALUE`
  scripts/lint-expl3.sh
Due: none

chore(mise): practice Bash array operations
  scripts/lint-expl3.sh
Due: none

chore(deps): use TeX-Live/setup-texlive-action 4
  .github/workflows/check.yml
  .github/workflows/lint.yml
Due: none

chore(deps): use TeX-Live/setup-texlive-action 4 (#77)
  .github/workflows/check.yml
  .github/workflows/lint.yml
Due: none

feat(zutil)!: clarify rgtest footers
  tabularray/testfiles/tblr-cell-text.tlg
  tabularray/testfiles/tblr-hvline.tlg
  tabularray/testfiles/tblr-loading.tlg
  tabularray/testfiles/tblr-options.tlg
  tabularray/testfiles/tblr-split.tlg
  tabularray/testfiles/tblr-variables.tlg
  tabularray/testfiles/tblr-zutil-debug.tlg
  zutil/testfiles/zutil-001.tlg
  zutil/testfiles/zutil-debug.tlg
  zutil/testfiles/zutil-l3extras.tlg
  zutil/testfiles/zutil-l3patch.tlg
  zutil/testfiles/zutil-rgtest-mdfive.tlg
  zutil/testfiles/zutil-rgtest.tlg
  zutil/testfiles/zutil-softerror.tlg
  zutil/testfiles/zutil-unravel.tlg
  zutil/zutil-regression-test.tex
Due: lint-expl3

chore(just): typo [ci skip]
  justfile
Due: none

chore(typos): exclude l3build `builddir` for `*.diff`
  config/typos.toml
Due: none

chore: track l3build 2026-03-13 changes
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/zutil-regression-test.tex
Due: lint-expl3

chore: track l3build 2026-03-13 changes (#78)
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/zutil-regression-test.tex
Due: lint-expl3

chore(wrapper): enable `ruff` preview mode and apply `ruff check` suggestions
  l3build-wrapper/pyproject.toml
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
  mise.toml
Due: lint-python

chore(wrapper): apply `ruff format` changes with preview mode on
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

chore(wrapper): adapt for ruff 0.15.8
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

chore(wrapper): enable `ruff` preview mode (#80)
  l3build-wrapper/pyproject.toml
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
  mise.toml
Due: lint-python

refactor(zutil): drop unneeded compatibility code for l3kernel
  zutil/zutil-debug.code.tex
Due: lint-expl3

chore(just): make variadic arguments mandatory
  justfile
Due: none

chore(just): make variadic arguments mandatory (#81)
  justfile
Due: none

chore(pre-commit): update commit msg configs
  .pre-commit-config.yaml
Due: none

fix(zutil): fix setting functions before definition
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

chore(explcheck): simplify config
  config/explcheck.toml
  scripts/lint-expl3.sh
Due: none

chore(wrapper): remove shebang, inline metadata, and executable permission
  l3build-wrapper/pyproject.toml
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

feat(wrapper): use subcommands
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

ruff format
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

sort arguments in help message
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

chore(zutil): adapt for explcheck 2026-04-13
  zutil/zutil-softerror.code.tex
Due: lint-expl3

ci(lint): print `explcheck` version
  .github/workflows/lint.yml
Due: none

ci(lint): use raw names of `mise` tasks, not aliases
  .github/workflows/lint.yml
  mise.toml
Due: none
