Repository muzimuzhi/latex-zutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-expl3, lint-python

lint-expl3:
  alias: explcheck
  name: Lint expl3 files
  language: unsupported
  entry: just explcheck
  pass_filenames: false

lint-python:
  alias: ruff
  name: Lint python files
  language: unsupported
  entry: just ruff check
  pass_filenames: false

chore(mise): drop task prefix in `test:save` task
  mise.toml
Due: none

feat(rgtest): make `\PASSED` protected by default; add `\PASSEDEXP`
  zutil/README.md
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-rgtest.tlg
  zutil/zutil-regression-test.tex
Due: lint-expl3

update docs
  zutil/README.md
Due: none

add test for `\PASSEDEXP` between tests
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-rgtest.tlg
Due: none

simplify docs
  zutil/README.md
Due: none

feat(rgtest): make `\PASSED` protected by default; add `\PASSEDEXP` (#111)
  zutil/README.md
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-rgtest.tlg
  zutil/zutil-regression-test.tex
Due: lint-expl3

feat(zutil): add `\cs_local_undefine:N`
  zutil/README.md
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

fix if undefined checking
  zutil/testfiles/zutil-l3extras.lvt
Due: none

feat(zutil): add `\cs_local_undefine:N` (#112)
  zutil/README.md
  zutil/testfiles/zutil-l3extras.lvt
  zutil/testfiles/zutil-l3extras.tlg
  zutil/zutil-l3extras.code.tex
Due: lint-expl3

chore(rgtest): revise message, comments, and docs
  zutil/README.md
  zutil/testfiles/zutil-rgtest.tlg
  zutil/zutil-regression-test.tex
Due: lint-expl3

chore(renovate): migrate to `.jsonc`; use recommended config
  renovate.json
  renovate.jsonc
Due: none

chore(renovate): use shareable config
  renovate.jsonc
Due: none

ci: update reusable action paths
  .github/workflows/check.yml
  .github/workflows/lint.yml
Due: none

test(zutil): update rgtest-mdfive test
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/testfiles/zutil-rgtest-mdfive.tlg
Due: none

chore(mise): add `tombi` comment directive
  mise.toml
Due: none

test(zutil): set `@` letter when reading `regression-test.tex`
  zutil/testfiles/zutil-rgtest-mdfive.lvt
Due: none

test(zutil): ignore `\def\REGRESSIONFILEDATE` line
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/testfiles/zutil-rgtest-mdfive.tlg
Due: none

test(zutil): fix name of FILEDATE macro
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/testfiles/zutil-rgtest-mdfive.tlg
Due: none

test(zutil): log like an error in `\FAILWITH{<content>}`
  zutil/README.md
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-rgtest.tlg
  zutil/zutil-regression-test.tex
Due: lint-expl3

test: skip more instructional engine message
  support/build-normalize-log.lua
  zutil/testfiles/zutil-rgtest.lvt
  zutil/testfiles/zutil-rgtest.tlg
Due: none

ci: install latest `l3build` release
  .github/workflows/check.yml
Due: none

chore: track l3build 2026-09-09 changes
  zutil/README.md
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/zutil-regression-test.tex
Due: lint-expl3

stricter grep pattern
  .github/workflows/check.yml
Due: none

chore: track l3build 2026-09-09 changes (#121)
  .github/workflows/check.yml
  zutil/README.md
  zutil/testfiles/zutil-rgtest-mdfive.lvt
  zutil/zutil-regression-test.tex
Due: lint-expl3

test(zutil): rename a test
  zutil/testfiles/zutil-load.lvt
  zutil/testfiles/zutil-load.tlg
Due: none

feat(zutil): `presets` accepts a clist of presets
  zutil/zutil.sty
Due: lint-expl3

feat(zutil): add package options for each preset
  zutil/README.md
  zutil/zutil.sty
Due: lint-expl3

reorder code
  zutil/zutil.sty
Due: lint-expl3

add a note [ci skip]
  zutil/zutil.sty
Due: lint-expl3

feat(zutil): add package options for each preset (#122)
  zutil/README.md
  zutil/testfiles/zutil-load.lvt
  zutil/testfiles/zutil-load.tlg
  zutil/zutil.sty
Due: lint-expl3

test(tblr): disable tabularray tests in top-level `build.lua`
  build.lua
  tabularray/build.lua
Due: none

chore(mise): rename an internal l3build env
  mise.toml
Due: none

chore(wrapper): disable tabularray test suites
  l3build-wrapper/src/l3build_wrapper/l3build_wrapper.py
Due: lint-python

ci: replace `grep` with `rg` for its portable syntax
  .github/workflows/check.yml
Due: none

chore: replace `actionlint` pre-commit hook with system command
  .pre-commit-config.yaml
  mise.ci.toml
  mise.toml
Due: none

chore: replace `actionlint` pre-commit hook with system command (#126)
  .pre-commit-config.yaml
  mise.ci.toml
  mise.toml
Due: none

ci(lint): install `pre-commit` using `mise`
  .github/workflows/lint.yml
  mise.ci.toml
Due: none

Path conditions:
  lint-expl3: any of: ^support/.*\.cfg|zutil/.*\.(sty|tex)$, but not: (?x)^(
  .*\.(md5|tlg)|
  tabularray/trial/.*
)$

  lint-python: any of: ^l3build-wrapper/, but not: (?x)^(
  .*\.(md5|tlg)|
  tabularray/trial/.*
)$

